<div class="page">
	<div class="content">
		<% if flash[:notice] %>
			<div class="flas"><%= flash[:notice] %></div>
		<% end %>

		<p>title: <%= @book.title %></p>
		<p>Body: <%= @book.body %></p>
	</div>
	<%= link_to "Edit", edit_book_path(@book.id), class: "lin" %>
	<span> | </span>
	<%= link_to "Back", books_path, class: "lin" %>
</div>